.cardConteiner{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4em;
    padding: 6em;
    font-family: Roboto;
    text-align: center;
    background-color: #EDEFF2;
}
.cardProducto{
    background-color: red;
}
