.cardConteiner{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4em;
    padding: 6em;
    font-family: Roboto;
    text-align: center;
    background-color: #EDEFF2;
}
.cardProducto, .myProduct{
    background: #FFF;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 1em;
}
.cardProducto:hover {
    border: 1px solid rgb(151, 150, 150) ;
    transform: scale(1.05);
}

.cardProducto:active {
    transform: scale(0.95) rotateZ(1.7deg);
}
h3{
    color:#213d79;
    font-weight: 400;
    font-size: 1em;
}
h2{
    color:#4D5E80;
    font-size: 1.3em;
}
.infoProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}
