:root {
    --main--color: #EDEFF2;
    --input--color:#FFF;
    --text--color:#4D5E80;
    --icons--color--contact:#6B7A99;
    --icons--color:#C3CAD9;

}
.encabezado{
    background-color:#EDEFF2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-family: Roboto;
    position: relative;
    height: 4em;
    border-bottom: 0.9px solid hsl(220, 9%, 79%);
}

.brand{
    display: flex;
} 
.brandLogo{
    width: 1.5vw;
    height: 4vh;
    padding-top: 3.5vh;
}
.brandName{
    color: #4D5E80;
    font-weight: 500;
    padding:1em ;
    font-size: 1.5em;
}
.inputNav{
    font-family: Roboto;
    border: none;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    width: 26em;
    height: 2em;
    position: relative;
}
.searchIcon{
    display: flex;
    position: absolute;
    color:#4D5E80;
    left: 58vw;

}
.headerIcons{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}
.contactIcon{
    color: #4D5E80;
    font-family: Roboto;
    font-size: 1.4em;
    margin: 1em;
}
.homeIcon{
    margin: 1em;
    font-size: 1.5em;
    color:var(--text--color)
}
.cartIcon{
    margin: 1em;
    font-size: 1.5em;
    display: flex;
    position: relative;
    color: #4D5E80;
}
.totalProductos{
    position: absolute;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #FFF;
    color:RED;
    left: 12px;
}
/* MEDIAQUERIES TABLET: MEDIDAS 768X1024=48REM X 64REM */
@media screen and (max-width:768px){

    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .brandLogo{
        width: 2.2vw;
        height: 3vh;
        padding-top: 0;
    }
    .brandName{
        font-size: 2vw;
    }
    .inputNav{
        width: 35vw ;
    }
    .searchIcon{
        left: 60vw;
    }
    .headerIcons{
        font-size: 1.5vw;
    }
}

@media screen and (max-height:1024px){
    .encabezado{
        height: 4vh;
        margin: 0;
        padding-left: 0;
    }    
}

/* media celular: 320x658 */


@media screen and (max-width:768px){
    .brand{
        display: flex;
    }
    .brandLogo{
        display: none;
    }

    .brandName{
        font-size: 3vw;
    }

    .inputNav{
        width: 44vw;        
        height: 4vh;
        font-size: 9px;
        padding-left: 6px;
    }
    .searchIcon{
        font-size: 12px;
    }     
    .headerIcons{
        font-size: 2.2vw;
        padding: 0;
    }
    .totalProductos{
        width: 1.5vw;
    }
    footer{
        font-size: 12px;
    }

}