:root {
    --main--color: #EDEFF2;
    --input--color:#FFF;
    --text--color:#4D5E80;
    --icons--color--contact:#6B7A99;
    --icons--color:#C3CAD9;

}
.encabezado{
    background-color:#EDEFF2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-family: Roboto;
    position: relative;
    height: 4em;
    border-bottom: 2px solid var(--gray-blue-grey-blue-95, #edeff200);
}

.brandLogo{
    width: 1.5em;
}
.brandName{
    color: #4D5E80;
    font-weight: 500;
    padding:1em ;
    font-size: 1.5em;
}
.inputNav{
    font-family: Roboto;
    border: none;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    width: 26em;
    height: 2em;
    position: relative;
}
.searchIcon{
    display: flex;
    position: absolute;
    color:#4D5E80;
    left: 56vw;

}
.contactBtn{
    color:#090909;
    font-family: Roboto;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #EDEFF2;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #ffffff;
}
.contactBtn:hover {
    border: 1px solid white;
}
.contactBtn:active {
    box-shadow: 4px 4px 12px #c5c5c5,-4px -4px 12px #ffffff;
}
.homeIcon{
    color:var(--text--color)
}
.cartIcon{
    color: #4D5E80;
}
.headerIcons{
    display: flex;
    padding: 1em;
    justify-content: space-between;
}
.contactBtn{
    margin: 1em;
    margin-top: 20px;
    font-size: 1em;
}
.homeIcon{
    margin: 1em;
    font-size: 1.5em;
}
.cartIcon{
    margin: 1em;
    font-size: 1.5em;
    display: flex;
    position: relative;
}
.totalProductos{
    position: absolute;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: red;
    color: rgb(31, 30, 30);
    left: 12px;
}