body{
    background-color: #EDEFF2;
}
h1{
    font-family: Roboto;
    font-weight: 500;
}

.latest{
    color: #4D5E80;
    padding-left: 10px;
}
.precioProducto{
    font-weight: 600;
}


/* MEDIAQUERIES TABLET: MEDIDAS 768X1024=48REM X 64REM */

@media screen and (max-width:768px){
    h1{
        font-size: 26px;
        padding-left: 20px;
    }
    .cardConteiner{
        gap: 1em;
        margin: 1em;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .cardProducto{
        display: flex;
        flex-wrap: wrap;
    }
}
/* media celular: 320x658 */
@media screen and (max-width:320px){
    h1{
        padding: 0;
        font-size: 10px;
    }
    .homeView{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardConteiner{
        padding-top: 4vh;
        display: flex;
        flex-direction: column;
    }
    .cardProducto{
        width: 70vw;
        height: 36vh;
    }
    .imgProducto{
        width: auto;
        height: auto;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 12px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
